# Booleans, Numbers and Operations

This notebook introduces three of the simpler data types within Python: Booleans, ints, and floats. As ints and floats are presented, the notebook shows various operations to combine different variables and literals in order to form an expression.

Expressions are simply any combination of one or more literals(constants), variables, functions, and operators. 

Throughout this notebook, practice changing the values and re-running the cells to see what happens.

## Booleans

Boolean is the simplest data type in Python as the only possible values are ```True``` and ```False```.  However, Boolean values are widely used throughout most programming languages.  We can create variables to hold one of these values directly, but will also implicitly use this type as the result of conditional expressions to evaluate whether or not something is true or false.  Typically, these results will be used in control (```if```) and loop (```while```) statements.

Use Python's built-in function ```bool()``` to convert other data types to Boolean.  Any non-zero value will be considered ```True``` and any zero / empty value will be considered ```False```.

Side Note: While it looks awkward to capitalize Boolean, the capitalization is typically performed to honor [George Boole ](https://en.wikipedia.org/wiki/George_Boole) who invented algebraic logic in the mid 19th century.

The following expressions evaluate to ```True```:

In [ ]:
True
bool(True)
bool(100)
bool(-100)
bool(10.0)
bool("George Boole")

The following expressions evaluate to ```False```:

In [ ]:
False
bool(False)
bool(0)
bool(0.0)
bool("")

## Integers
Integers ($ \mathbb{Z} $) are whole numbers - they do not have any fractional value or contain a decimal point.  

Typically, we write these as a sequence of digits (the characters from 0 to 9).  We can add underscores ("```_```") to improve readability.  However, we can not start an integer value with a 0 followed by other digits. ```0``` is valid of course.

In [ ]:
1892

In [ ]:
0

In [ ]:
1_000_000

In [ ]:
012

**Compilation Issues**

In the previous cell, the Python interpreter raised a "SyntaxError" which is a compilation issue while converting the program text into a symbolic representation that can then be executed.  Before, we have also seen runtime errors that occur as our program executes.  We can identify those in python with the presence of "Traceback" report in the error message that shows the list of function calls that led to the error.  We'll discuss the different error types and how to handle these errors robustly in a later module.

### Bases
Integers are genrally represented in programs as base 10 (decimal) numbers.  The *base* is the number of digits that a system of counting uses to represent numbers.  

Behind the scenes, computers largely rely upon sequences of bits (zeros and ones) to represent values.  As humans, we rely upon abstractions to make sense of those sequences.  There are three base representations that are often used within computer science and you may use or see these representations in your code or elsewhere.

For Python, we can express literal integers in the following 3 basis in addition to decimal by using specific prefixes:
- 0b or 0B for *binary* (base 2).  Digits: 0, 1
- 0o or 0O for *octal* (base 8).  Digits: 0,1,2,3,4,5,6,7
- 0x or 0X for *hexadecimal* (base 16).  Often this is shortened to "hex".  Digits: 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f

These prefixes are the reason why we can not start integer values with 0 and then some other series of digits. As part of the process of translating program text to something that can be executed, a tokenizer "chunks" up terms of program text.  The Python tokenizer has the ability to correctly determine the chucks for 0 and 0xFF, but not for 01.

In the following cell, we show the sequence of ```10``` represented in different bases.

In [ ]:
print(10)
print(0b10)
print(0o10)
print(0x10)

And now the value of 42 in different bases

In [ ]:
print(42)
print(0b101010)
print(0o52)
print(0x2A)

The characters used in hexadecimal can be uppercase as you just saw.

We can convert integer values to the other bases with ```bin()```, ```oct()```, and ```hex()```

In [ ]:
x=42
print(bin(x))
print(oct(x))
print(hex(x))

And if you are a fan of Andy Weir's [Project Hail Mary](https://www.andyweirauthor.com/books/project-hail-mary-hc/project-hail-mary-el), you can even use base-6 (senary) numbers:

In [ ]:
int ("42",6)

Somewhat unbelievably, Python does not offer a built in function to convert integer values to adhoc bases beyond 2,8, and 16.  We'll leave writing that function as an exercise for the reader in a later notebook.

### Integer operations
Python offers the standard Python arithmetic operators, as well as a couple of special operators to support division

Python operation | Arithmetic operator | Example | Result
:-------- | :-------- | :-------- | :-----
Addition| + | 5 + 2| 7
Subtraction| â€“| 12 - 5  | 7
Multiplication| * | 3 * 4  | 12 
True division| / | 16 / 5  |  3.2
Floor division| // | 16 // 5  |  3
Remainder (modulo)| % | 16 % 5  | 1
Exponentiation| ** |  2 ** 10  | 1024

Addition, subtraction, and multiplication are straightfoward as you expect and you can include as many numbers and operators as needed:

In [ ]:
print(5 + 2)
print(12 - 5)
print (1 + 2  + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10)
print (3 * 4)
print (2*2*2)

Division has two distinct operators:
- True division ```/```, which always returns a floating point number, even if the number is divisible without any remainder
- Floor division ```//```, which always returns an integer and drops any remainder.

In [ ]:
print(5/2)
print(4/2)
print(type(4/2))
print(5//2)

```%``` produces the remainder of a division operation

In [ ]:
print(5 % 2)

It is possible to produce both the quotient and remainder at the same time with ```divmod()```.  This returns a two-item tuple - we will look at tuples in a later notebook.

In [ ]:
divmod(16,5)

Divison by zero is not allowed.  The Python interpreter will raise a ```ZeroDivisionError```.

In [ ]:
6/ 0

```**``` indicates exponention, which raises one value to a power of another

$5^2 = 25$

In [ ]:
5**2

### Precedence
Python follows the standard rules for precedence: (PEMDAS)
1. Paranthesis
2. Exponention
3. Multiplication or division
4. Addition or substraction 
If there's any confusion, use paranthesis to make your code readable.

In [ ]:
2 + 2 * 4

In [ ]:
(2 + 2) * 4

In [ ]:
10 * (10+1) /2

**Example: Temperature conversion**

Quite often, we'll use formula to carry out special operations such as converting fahrenheit numbers to celsius.
$ (F - 32) * 5/9 = C $

However, in Python and other computing languages, assignments are made to a variable on the right side of equation.

In [ ]:
f = 77
c = (f-32) * 5/9
print(c)

Notice that final type of the value was a float due to the true division operator.

*Brain teaser:*  Four fours is a puzzle to see how many different numbers you can produce using four fours with an expression.

For example: `print("4 + 4 - 4 - 4:", 4 + 4 - 4 - 4)` prints `4 + 4 - 4 - 4: 0`

How many numbers can you produce?  Try putting multiple print statements in the cell below.

In [ ]:
print("4 + 4 - 4 - 4:", 4 + 4 - 4 - 4)

## Floats
Floating point numbers (floats) are roughly the set of real numbers (($ \mathbb{R} $) - numbers that have decimal points.  (We use "roughly" as not all numbers in the space can be precisely defined due to how these numbers are represented in computers - see below for more details.)

Examples:

In [ ]:
10.

In [ ]:
10.0

In [ ]:
010.0

Floating point numbers can also be represented for exponential/scientific notation:

In [ ]:
10e0

In [ ]:
10e2

In [ ]:
10e-1

As with integers, we can use underscores ```_``` to separate digits for clarity.

In [ ]:
1_000_000.023_123

Operators and precedence rules are pretty much the same for floats as they are for ints.  The biggest difference will be floor division ```//``` which returns a float

In [ ]:
10//2

In [ ]:
10.0//2.0

You can mix and match float and int types in operations.  The result of any operation that contains at least one float or true division operator will be a float.

In [ ]:
5 + 10 + 25.3

**Compound Interest**

A basic financial concept is looking at the addition of interest to a principal amount after a certain period of time (e.g., one year).  $ amount = principal + (principal * rate) $

In [ ]:
principal = 1000
rate = 0.075
amount = principal + (principal * rate)
print(amount)

**Representation**
As with most other programming languages, Python uses IEEE Standard 754-2008 for floating point representation and arithmetic
[IEEE](https://ieeexplore.ieee.org/document/4610935) | [Duke](https://ieeexplore-ieee-org.proxy.lib.duke.edu/document/4610935) | [NCSU](https://ieeexplore-ieee-org.prox.lib.ncsu.edu/document/4610935).

Techanically, this is derived from Python being implemented in C.  The Python tutorial discusses some of the [issues and limitations of float point arithmetic](https://docs.python.org/3/tutorial/floatingpoint.html).


From a financial technical persective, it's imperative that we use exact representations for our numbers. Python provides the [decimal](https://docs.python.org/3/library/decimal.html) class that we can use in our financial applications that we build. We demonstrate a basic usage of this class below and will have a separate module covering this in more detail.

Examples of incomplete representation:

In [ ]:
(80-32) *5/9

In [ ]:
print (1.1 + 2.2)

In [ ]:
from decimal import *
print (Decimal("1.10") + Decimal("2.20"))

## Type Conversions
Python provides several built-in methods to convert values among integer, float, and strings datatypes.  

```int()```  converts a string or a float to an integral value. The string must be a valid string otherwise a ValueError occurs.  With floats, the decimal portion is truncated (not rounded).

In [ ]:
x = int(5.75)
print(x)
type(x)

In [ ]:
x = int("1842")
print(x)

In [ ]:
x = int("25.234")
print(x)

```float()``` converts an integral value or string to a float value.

In [ ]:
x = float(5)
print(x)
type(x)

In [ ]:
x = float("25.234")
print(x)

In [ ]:
x = float("alphastring")

**Minimum and maxium values**

Theoritically, there is no longer any minimum or maximum values for integers within Python 3.  Python 2, which has been sunset, used 32-bit or 64-bit representations for integers and did have limits.  Practically, there is a limit as to how large the interpreter can handle based upon the CPU speed and memory for the computer running the Python interpreter.

In [ ]:
x = 2**1024
print(x)
print(x.bit_length())

However, for floating point numbers, python does have upper and lower limits. You can see those limits by executing the following block:

In [ ]:
import sys
sys.float_info

In [ ]:
x = 2.0**1024
print(x)

## Review Questions
1. Evaluate these type conversions to Boolean:
    1. bool(10)
    2. bool(0.0)
    3. bool(-124)
    3. bool("Hello")
    4. bool("")
2. Are the following valid integer values? (answer yes/no)
   1. 16
   2. 016
   3. 0xGA
   4. 0b100
   5. 0X1A
3. Are the following valid floating point vlaues (answer yes/no)
   1. 05.01
   2. 6e0.5
   3. 5.123e-10
4. What is the type of this expression?   5 + 2 + 34 + 4/2
5. What is the type of this expression?  5+ 8//2
6. Write python code to convert the 100 degrees celsuis to fahrenheit.
7. Lookup the formula for [periodic compounding](https://en.wikipedia.org/wiki/Compound_interest#Periodic_compounding). Write a snippet of python code that you can use the set the variables to apply the compounding formula.  This should be similar to the fahrenheit conversion above, but you just have a few more variables.  You should have the following variables with P, r, n, and t where 
    - A is the final amount
    - P is the original principal sum
    - r is the nominal annual interest rate
    - n is the compounding frequency
    - t is the overall length of time the interest is applied (expressed using the same time units as r, usually years).
8. Convert 45.76 to a integer value
9. How would you find the additional information for decimal class(type) within Python?  
10. How would you find the additional information for decimal class(type) on the web?