<div class="pagebreak"></div>

# Lists

In our lives, we regularly use lists - things to buy, stuff to do, etc.  As we use those lists, we add items to them, we remove items from them, and we change items.  

Python provides a list data type. Lists are ordered sequences of items. Unlike arrays in other programming languages, lists can contain items of different types.

To define a list, use a comma separated list of zero or more values between square brackets.

In [ ]:
empty_list = []
another_empty_list = list()
primes = [1,2,3,5,7,11,13,17,19]
acc_schools = ["Duke", "Notre Dame", "UNC", "NCSU", "Wake Forest", "Clemson"]
mixed_list = [ "school", 1842, "test", "April", 5.4]

Unlike numbers and strings, lists are mutable objects.  That is, we can add and remove items from a list and we still have the same reference to the list.

## Indexing and Slicing

As lists are sequences, we can use the same operations that we used on strings for getting the length, indexing, and slicing.

In [ ]:
print("len(acc_schools):", len(acc_schools))

In [ ]:
print("acc_schools[0]:",acc_schools[0])
print("acc_schools[-1]:",acc_schools[-1])

In [ ]:
print("acc_schools[:3]:",acc_schools[:3])

## Adding to a list
The `+` operation (concatenation), creates a new list.  To use concatenation, we must use another list

In [ ]:
print(id(acc_schools))
new_list = acc_schools + ["Miami"]
print(new_list)
print(id(new_list))

In [ ]:
new_list = acc_schools + "Virginia"       # Raises a TypeError

Calling the `append()` method will add item to the end of the existng list.

In [ ]:
new_list.append("Virginia")
print(new_list)
print(id(new_list))

As you can see from that the IDs, new_list is still the same object, but we have added "Virginia" to the list by using `append()`.  However, the list contenation using `+` produced a new object.

You can also add items to a list with the `extend()` method.  This will treat the argument as a sequence and add iterate through the sequence, adding each item to the list.

Try adding Pittsburgh to `new_list` using `extend()`:

In [ ]:
# Add "Pittsburgh" to new list and print the result

print(new_list)

Was the result what you expected?

If `'P', 'i', 't', 't', 's', 'b', 'u', 'r', 'g', 'h'` was added, remember that strings are sequences, so `extend` iterated through the sequence, adding each element to new_list.

To use `extend()`, put the term into a list and then make the call.

In [ ]:
# Add "Pittsburgh" to new list and print the result

print(new_list)

What happens if a list was passed to `append()`?

In [ ]:
new_list.append(["Florida State"])
print(new_list)

The last element should be a list itself now.  Collection objects such as lists can be nested within each other.

Use <code>insert(<i>index</i>, <i>value</i>)</code> to put an item at a specific index in the list.

For practice, insert "Miami" at the start of the `acc_schools` list.

In [ ]:
# add a line of code to put Miami at the start of the acc_schools list

print(acc_schools)

Now, put "Pittburgh" into the list at the 6th position (i.e., between "NCSU" and "Wake Forest").  Remember indexes start at zero.

In [ ]:
# add a line of code to put Pittsburgh at the 6th position

print(acc_schools)

## Removing from a list

* <code><i>list</i>.pop()</code> removes an item from the end of the list, returning that value
* <code><i>list</i>.popleft()</code> removes an item from the start of the list, returning that value
* <code>del <i>list</i>[<i>index</i>]</code> removes an item at the specified index

In [ ]:
last = acc_schools.pop()      # Removes the last element
first = acc_schools.pop(0)    # Removes the first element
print(first)
print(last)
print(acc_schools)

Use <code><i>list</i>.remove(<i>value</i>)</code> to remove a specific value from the list.  Only the first found match is removed. No value is returned.  The method raises a ValueError if there is no such item.

Remove "UNC" from acc_schools:

In [ ]:
# Add the line remove the value "UNC"

print(acc_schools)

To empty a list, use `clear()`

In [ ]:
acc_schools.clear()
print(acc_schools)

## Searching for Values
To count the number of times a value exists in a list, use `count()`

In [ ]:
acc_schools = ["Duke", "Notre Dame", "UNC", "NCSU", "Wake Forest", "Clemson","Duke"]
acc_schools.count("Duke")

To test if a value exists in a list use the `in` operator

In [ ]:
print("ND" in acc_schools)

In [ ]:
school = "NCSU"
print(school in acc_schools)

To find the first index where an item occurs in a list, use `index()`.  The method raises a ValueError if the value does not exist in the list. Optionally, you can specify start and end indexes to limit the search.

In [ ]:
acc_schools.index("Duke")

In [ ]:
acc_schools.index("Duke",1,len(acc_schools))    # starts checking at the second element in the list

In [ ]:
acc_schools.index("Duke",2,5)           # Raises a ValueError - Duke isn't in the specified raange of the list

## Sorting
To sort a list, use the `sort()` methods which puts the order into lexigraphical order.  Add the argument `reverse=True` to sort in reverse order

In [ ]:
acc_schools.sort()
print(acc_schools)

Now sort the list in descending order.

In [ ]:
# Sort acc_schools in descending order by adding the necessary statement

print(acc_schools)

Python offers a built-in function `sorted()` to sort iterables such as lists.  This returns a new list.  You can add the argument `reverse=True` to sort in descending order if needed.

In [ ]:
sorted_schools = sorted(acc_schools)
sorted_schools

Use the `id()` function to show that acc_schools and sorted_schools are two different objects

In [ ]:
# print the id values for acc_schools and sorted schools

Now try to pass a string to `sorted()`.  What was the result?  Why did this happen?

In [ ]:
x = sorted("hello")
print(x)

A string is a sequence, so `sorted` processed that sequence of items into sorted order.

What happens you try to sort a list that has a mixture of different types?  Try sorting `mixed_listed` that we defined earlier.

In [ ]:
# Add code to sort mixed_list

## Reversing
To reverse the current order of a list, use `reverse()`

In [ ]:
acc_schools.reverse()
acc_schools

## Copying
To perform a shallow copy of a list, use `copy()`.  With a shallow copy, we have a new list object with the same contents as the current list. However, those contents are the same - in other words, only the references have been copied into the new list.

This is the same as using the slice operation: _list_ `[:]`

new_list = acc_schools.copy()

We can also perform a deepcopy of a list.  A deep copy will construct a new list and then recursively create new copies off all of the original contents and place those into the new list.  (We'll cover recursion in more detail in later notebooks.)

To perform a deep copy, we'll need to import the `copy` module and then call the `deepcopy()` function within that module.

In [ ]:
import copy
new_list = copy.deepcopy(acc_schools)

## Comparing
Comparing two lists using boolean comparison operators (`<`,`<=`,`==`,`>=`,`>`) uses a lexicographical ordering. Initially, the first item of each of the two lists is compared.  If they differ, then this difference is the outcome. Otherwise, the next items in each list is compared and so forth.  If all items of the two lists are equal, then the lists are equal.  Then if one list is shorter than the other after comparing elements up to that point, then that list is considered smaller.

In [ ]:
a = ["one", "two"]
b = ["one", "two"]
c = ["one", "alpha", "two"]
d = ["two", 3, "one"]
e = ["one", "two", "three"]

print("a <  b:", a < b)
print("a >  b:", a > b)
print("a == b:", a == b)
print("c <  a:", c < a)
print("c >  a:", c > a)
print("a <  d:", a < d)
print("a >  d:", a > d)
print("b <  c:", b < c)
print("b <  e:", b < e)

Lists can also be used as an expression in `if` statements.  A non-empty list resolves to `True` and an empty list resolves to `False`.

In [ ]:
a = ["one", "two"]
e = []
if a:
    print("a was not an empty list")
else:
    print("a was an empty list")
    
if e:
    print("e was not empty list")
else:
    print("e was an empty list")

## Converting

We can directly convert a list to a boolean value with the built-in function `bool()`:

In [ ]:
print(bool(a))
print(bool(e))

To convert a list to a string, use the `join()` method from the string class.

In [ ]:
acc_string = ':'.join(acc_schools)
print(acc_string)

What happens if you try to join a list that contains a mix of different types or a list that does not contain strings?  Try below with `mixed_list` or `primes`

In [ ]:
# add code to join mixed_list or primes

## Nested Lists
In Python, we can nest lists - that is create a list of lists.  This is roughly comparable to creating multi-dimensional arrays in other programming languages. A common use case for this is to create matrix as a representation for specific data.

For example, we could create a partially-completed tic-tac-toe board:

In [ ]:
board = [ ["X", " ", " "],
          [" ", "O", " "],
          [" ", "O", "X"]]

In [ ]:
rows = len(board)       # the number of elements of top list equals the number of rows
cols = len(board[0])    # the number of elements of a nested list equals the number of columns

# print the board
print("board: ")
print(" ",board[0])
print(" ",board[1])
print(" ",board[2])
    
# Accessing parts of the board
print("Top right corner:", board[0][2])
print("Top left corner:", board[0][0])
print("bottom middle:", board[2][1])

While the above example shows a list of list of strings, realize that creating nested data structures can be arbitrarily.  For example, we could represent a [sudoku](https://en.wikipedia.org/wiki/Sudoku) board as a 9 by 9 matrix.  But then for each cell, we could hold a list of possible numbers that cell could possibly be assigned.

![](images/suduko.png)

## Exercises

For the exercises 1 - 7, use the following list.  Use the Python functions and methods.
`grades  = [87.6, 92.3, 84.5, 90.0, 86.0, 98.6]`

1. How many elements are in the list?
2. Provide two ways of getting the first element in the list.
3. Provide two ways of getting the last element in the list
4. Remove the first element from the list and return the value.
5. Remove the last element from the list and return the value
6. Concatenate this list to grades:  `[76.4, 99.2, 88.8]`
7. Sort the list

8. Write a short program that reads in a sentence from a user.  Then create a list of words (punctuation can be included as part of the words) by separating the words/characters by whitespace.  Then reverse the list. Finally, join the list back together into a single string with words separated by a colon `:` and print the resulting string.